/**
----------------------
accueil
----------------------
*/

//
// localisation
//
.localisation{
  @include flexcenter;
  background-color: darken($bg-color,10%);
  margin-top: 0.3rem;
  padding: 0.7rem 0;

    input{
      border: none;
      background-color: transparent;
      width: 50vw;
      font-family: 'Roboto Regular';
      text-align: center;
    }
}

//
// exploration
//
.exploration{
  @include flexcenter;
  flex-flow: column wrap;
  text-align: center;
  background-color: darken($bg-color,4%);

    button{
      margin-top: 1rem;
    }
}

//
// mode d'emploi
//
.manual{
}


//
// restaurants
//
.restaurants{
  background-color: darken($bg-color,4%);

  ul{
    position: relative;
    border-radius: 1rem;
    border-radius: 1rem 1rem 0 0;

    img{
      width: 100%;
      max-height: 174px;
      object-fit: cover;
      border-radius: 1rem 1rem 0 0;
    }
  }
  li{
    margin-top: 1rem;
    background-color: $bg-color;
    border-radius: 1rem;
  }
}

.card--legend__container{
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  .fa-heart{
    font-size: 1.5rem;
  }
}

