/**
----------------------
page d'accueil
----------------------
*/

//
// localisation
.localisation{
    @include flexcenter;
    background-color: darken($bg-color,7%);
    margin-top: 0.3rem;
    padding: 0.7rem 0;

    input{
      border: none;
      background-color: transparent;
      width: 50vw;
      font-family: 'Roboto';
      text-align: center;
    }
}


/**
exploration
*/

.exploration{
    @include flexcenter;
    flex-flow: column wrap;
}



//test//
ul{
    img{
        @include cards--style;
    }
}