/**
----------------------
Menus
----------------------
*/

// bloc image //
.vignette{
  width: 100%;
  max-height: 35vh;
  object-fit: cover;

  @include mobile-large{
    max-height: 30vh;
  }
}

// bloc général du menu //
.menu{
  position: relative;
  top: -2rem;
  padding: 2rem 1rem;
  margin: auto 0;
  background-color: darken($bg-color,4%);
  border-radius: 2rem 2rem 0 0;

  .tertiary-button{
    width: 98%;

    @include tablet{
      width: 95%;
    }
  }
}

.menu__title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 0 0.5rem 1.5rem;
}

// sections entrées / plats / desserts //
.menu__section{
  width: 100%;
  padding-bottom: 1.5rem;

  @include small-desk{
    width: 33.33%;
  }

  @include mobile-large{
    max-width: 70%;
  }
}

// section panier //
#menu__checkout
{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;

  .main-button{
    padding: 0.9rem 2.5rem;
  }
}