/**
----------------------
Menus
----------------------
*/

.vignette{
  width: 100%;
  max-height: 35vh;
  object-fit: cover;

  @include mobile-large{
    max-height: 30vh;
  }
}

.menu{
  position: relative;
  top: -2rem;
  padding: 2rem 1rem;
  margin: auto 0;
  background-color: darken($bg-color,4%);
  border-radius: 2rem 2rem 0 0;
}

.menu__title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 0.5rem 1.5rem;
}

.menu__section{
  width: 100%;
  
  .h4{
    font: 1.1rem 'Roboto';
  }
  
  .h5{
    font: 0.9rem 'Roboto';
    font-weight: 200;
  } 

  @include mobile-large{
    max-width: 70%;
  }
}

// .section__plat{
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }

#menu__checkout
{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}
