/**
----------------------
Menus
----------------------
*/

.restaurant-vignette{
  width: 100vw;
  border-top: 1px solid black;
}

.restaurant-carte{
  padding-top: 2rem;
  background-color: darken($bg-color,4%);
  border-radius: 2rem;
}

.restaurant-titre{
  display: flex;
  justify-content: space-between;
  align-items: center;
}