/**
-----------------------
style du footer
-----------------------
*/

footer{
  margin-top: -2rem;
  background-color: darken($bg-color,80%);
  width: 100%;
  padding: 1rem 1.5rem;
  color: white;

  ul{
    font-size: 0.9rem;  
    line-height: 1.5rem;

    .fas{
      font-size: 0.8rem;
      margin-right: 1rem;
      width: 0.2rem;
    }

    a{
      color: white;
    }
  }
}

.footer__logo{
  font-family: 'Shrikhand';
}