/**
----------------------
header - logo
----------------------
*/

header
{
  @include flexcenter;
  width: 100vw;
  padding: 1rem 0.3rem 0.3rem;
  box-shadow: 0 0px 10px 0px rgba(56, 56, 56, 0.5);
}