/**
-----------------------
boutons
-----------------------
*/

//bouton dégradé
.general-button{
    background: linear-gradient($secondary-color, $primary-color);
    padding: 0.9rem 1.5rem;
    border: none;
    border-radius: 1.5rem;
    color: white;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
}

.new-button{
  position: absolute;
  top: 2rem;
  right: 1rem;
  width: min-content;
  padding: 0.3rem 0.7rem;
  background-color: $tertiary-color;
  color: darken($tertiary-color, 40%);
  font: 0.8rem 'Roboto Regular';
  border-radius: 0.2rem;
}