/**
----------------------
loader
----------------------
*/

.loader{
    z-index: 10;  
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: loader-disparition 2.5s forwards 1s;

    &::before{
    content: "";
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    background-size: cover;
    opacity: 0.8;
    }

    svg{
      z-index: 15;
      opacity: 1;
      width: 50px;
      height: 50px;
      fill: $tertiary-color;
      transform-origin: 25px 25px;
      animation: loader-spinner 2.3s linear infinite;
    }
}

@keyframes loader-disparition{
  80%{
    opacity: 0.7;
  }
  99%{
    opacity: 0;
  }
  100%{
    z-index: -1;
    opacity: 0;
  }
}

@keyframes loader-spinner {
  from {
    transform: scale(1,1) rotate(0turn)
  }
  25%, 35%, 50%{
     transform: scale(1,1) rotate(0.75turn)
  }
  30% {
      transform: scale(1.25,1) rotate(0.75turn)
  }
  75%, 85%, to{
    transform: scale(1,1) rotate(1.5turn)
  }
  80% {
    transform: scale(1,1.25) rotate(1.5turn)
  }
}

