/**
----------------------
fiche de style de base
----------------------
*/

body{
  margin: 0 auto;
  font-family: 'Roboto' regular;
  font-size: 1rem;
}

.page--container{
  @include flexcenter;
  flex-flow: column wrap;
}

// Reset Firefox pour formulaires
input::-moz-placeholder
{
    opacity: 1;
    -webkit-appearance: none;
}

// trouver comment remplacer par un reset global
h1, h2, h3, h4, h5, p
{
  margin: 0;
  padding: 0;
  line-height: 2rem;
}

/**
styles textuels
*/

p{
  font-family: 'Roboto', light;
}

h1{
  font: 2rem 'Shrikhand';
}


