/**
----------------------
bases
----------------------
*/

body{
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Roboto';
  font-size: 1rem;
}

// Positionnement des blocs conteneurs
section{
  padding: 3rem 1.2rem 3.5rem;
}

.page-container{
  @include flexcenter;
  flex-flow: column wrap;
}

.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

//
//styles textuels
//

// trouver comment remplacer par un reset global
h1, h2, h3, h4, h5, p{
  margin: 0;
  padding: 0;
}
//

// balises de base
p{
  font-family: 'Roboto';
  font-weight: 500;
}

h1, .restaurant-name{
  font: 1.8rem 'Shrikhand';
}

h2{
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: 500;
}

h3{
  font-size: 1.13rem;
  line-height: 1.4rem;
  font-weight: 200;
  color: darken($bg-color,70%);

}

h4{
  font: 1.1rem 'Roboto';
}

h5{
  font: 1.05rem 'Roboto';
  font-weight: 200;
}

a{
  color: black;
  text-decoration: none;
  font-weight: 200;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0.3rem 0;
}

.section-name{
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1rem;

  &::after{
    content: "";
    display: block;
    width: 2.5rem;
    padding-bottom: 0.2rem;
    border-bottom: 0.2rem $tertiary-color solid;
  }
}

// Reset Firefox pour formulaires
input::-moz-placeholder{
    opacity: 1;
    -webkit-appearance: none;
  }