/**
-----------------------
éléments de typographie
-----------------------
*/

@font-face {
    font-family: 'Shrikhand';
    src: url(/resources/fonts/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Light'; 
    src: url(/resources/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto Regular'; 
    src: url(/resources/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Bold'; 
    src: url(/resources/fonts/Roboto-Bold.ttf);
}