// Raccourcis de positionnement
// Flexbox - center - 100vw
@mixin flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

// Raccourcis d'éléments
// Mise en forme basique des cartes
// @mixin cards--style{
//     width: 100%;
//     height: auto;
//     object-fit: cover;
//     background-color: $bg-color;
// }
