// Palette de couleurs
$primary-color: hsl(267, 66%, 60%);
$secondary-color: hsl(317, 100%, 74%);
$tertiary-color: hsl(165, 56%, 74%);
$bg-color: hsl(0, 0%, 100%);

// breakpoints
$mobile: 320px;
$mobile-large: 544px;
$tablet: 718px;
$small-desk: 1012px;
$large-desk: 1280px;

$breakpoint: (
    mobile: $mobile,
    mobile-large: $mobile-large,
    tablet: $tablet,
    small-desk: $small-desk,
    large-desk: $large-desk
) !default;
